.btn-picto-color {
  position: fixed;
  top: auto;
  left: auto;
  bottom: -100px;
  right: 1.5rem;
  border-radius: 50%;
  z-index: 999;
  padding: 0;
  opacity: 0;
  background-color: transparent;
  border: 0;
  transition: transform 0.321s linear, bottom 0.321s ease-in-out, opacity 0.321s linear;
}
.btn-picto-color.active {
  transform: rotate(90deg);
}
.btn-picto-color.show {
  opacity: 1;
  bottom: 1.5rem;
}
.btn-picto-color img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 65px;
  height: 65px;
}

#change--color {
  position: fixed;
  top: auto;
  left: auto;
  bottom: 3rem;
  right: 3rem;
  background-color: #FFFFFF;
  z-index: 99;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 20px;
  color: black;
  transform: translateY(calc(100% + 3rem));
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 0;
  transition: height 0.321s ease-in-out, transform 0.321s ease-in-out;
}
#change--color a {
  color: black;
}
#change--color.active {
  transform: translateY(0);
  height: 685px;
}
#change--color #reset,
#change--color #close {
  position: absolute;
  top: 0.5rem;
  left: auto;
  right: 1rem;
  font-size: 1.2rem;
  border: none;
  background: transparent;
  color: black;
  z-index: 100;
}
#change--color #reset {
  right: 3rem;
}
#change--color #setting-alert {
  font-size: 1.2rem;
  border: none;
  background: transparent;
}
#change--color .box--alert {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  width: 200px;
  opacity: 0;
  transition: width 0.5s ease-in-out, right 0.321s ease-in-out, opacity 0.1s ease-in-out;
  z-index: -1;
}
#change--color .box--alert.active {
  opacity: 1;
  width: 500px;
  right: calc(100% + 2rem);
  transition: width 0.05s ease-in-out, right 0.321s ease-in-out, opacity 0.1s ease-in-out;
}
#change--color .app-section--is-hidden {
  display: none;
}
#change--color svg,
#change--color .icon {
  width: 10px;
  height: 10px;
  display: inline-block;
}
#change--color ul {
  list-style: none;
  margin: 0;
}
#change--color .app-sidebar {
  flex: 1 1 100%;
  width: 100%;
  font-weight: bold;
}
#change--color .app-color {
  flex: 1 1 100%;
  width: 100%;
  min-height: 200px;
  font-weight: bold;
}
#change--color .app-editor-section {
  padding: 1rem 1rem 0 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#change--color .app-editor-section__body {
  background-color: #e6e6e6;
  padding: 0.5rem;
  border-radius: 4px;
}
#change--color .app-color-picker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#change--color .app-color-picker .app-color-picker__preview {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#change--color .app-color-picker .app-color-picker__native {
  opacity: 0;
  width: 30px;
}
#change--color .app-color-picker input {
  background-color: white;
  border: 0;
  height: 30px;
}
#change--color .app-color-picker .app-editor__input-group {
  margin-left: 1rem;
}
#change--color .app-color-picker .app-form-control {
  max-width: 160px;
  padding-left: 3rem;
}
#change--color .app-content__group {
  margin: 0;
  padding: 1rem;
  background-color: #FFFFFF;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#change--color .app-content__group > li {
  background-color: #FFFFFF;
  padding: 0.5rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}
#change--color .app-content__group > li:last-child.app-content-item--is-selected {
  background-color: #e6e6e6;
  border-radius: 8px;
}
#change--color .app-content__group > li:last-child:focus, #change--color .app-content__group > li:last-child:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}
#change--color .app-content-item--is-selected {
  background-color: #e6e6e6;
  border-radius: 8px;
}
#change--color .js-app-content__feedback-colors,
#change--color .js-app-content__main-colors {
  padding-left: 0;
  text-align: center;
}
#change--color .js-app-content__feedback-colors .app-content-item__text,
#change--color .js-app-content__main-colors .app-content-item__text {
  padding: 0.2rem;
  width: 100%;
  display: inline-block;
  border-radius: 8px;
}
#change--color .js-app-content__feedback-colors .app-content-item__text:focus, #change--color .js-app-content__feedback-colors .app-content-item__text:hover,
#change--color .js-app-content__main-colors .app-content-item__text:focus,
#change--color .js-app-content__main-colors .app-content-item__text:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}
#change--color .btn--subtle {
  position: relative;
  z-index: 10;
  flex: 1 1 100%;
  width: 100%;
  margin: 0 auto 1rem auto;
  max-width: 90%;
  border-color: #666666;
  background-color: #1a1a1a;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: transform 0.1s ease-in, background-color 0.1s linear;
}
#change--color .btn--subtle:hover {
  transform: scale(1.05);
  background-color: #333333;
}
#change--color .btn--subtle:focus, #change--color .btn--subtle:active {
  background-color: #4d4d4d;
}
#change--color .text--bottom {
  position: relative;
  top: auto;
  bottom: 11px;
  left: 0;
  padding: 0 2.5rem 0 1rem;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 100%;
  width: 100%;
}
